
:root{
  --activity: #409abe;
  --selected-icon: #16212d;
  --icon: #285368;
  --header: #347b98;
  --text: white;
  --button: #0078d4;
  --button-hover: #046ec1;
  --explorer: #181818;
  --search: #3f829d;
  --search-hover:#4087a3;
  --gray: #cacaca;
  --selected-icon-color: rgb(255, 186, 249);
  --light-gray: rgba(202, 202, 202, 0.5);
  --highlight: rgba(202, 202, 202, 0.3);
  --light-page: rgba(60, 59, 59, 0.548);
  --light-explorer: #181818bd;
  --page: #1f1f1f;
  --function-def: #5598d1;
  --function: #dcdcaa;
  --variable: #9cdcfe;
  --string: #cb8f77;
  --yellow-brackets: #fcd304;
  --pink-brackets: #d770d3;
  --import-class: #4bc1a9;
  --import: #c586c0;
  --const: #4fc2ff;
  --blue-brackets: #169fff;
  --comment: #6a9956;
  --gray-input: #313131;
}

.App {
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: var(--page);
}

header {
  background-color: var(--header);
  color: var(--text);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--explorer);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.activity {
  background-color: var(--activity);
  color: var(--text);
  text-align: center;
}

.explorer {
  background-color: var(--explorer);
  color: var(--text);
  padding: 10px;
  text-align: center;
  min-width: 20%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--header);
  color: var(--text);
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  border-top: 1px solid var(--explorer);
  justify-content: space-between;
}

.tabs-bar {
  width: 100%;
  background-color: var(--explorer);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs {
  display: flex;
  width: 100%;
  background-color: var(--explorer);
  overflow: scroll;
}

.search {
  background-color: var(--search);
  color: var(--text);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--gray);
  border-radius: 7px;
  width: 25%;
  height: 8%;
}

.search:hover {
  border: 1px solid var(--text);
  background-color: var(--search-hover);
  cursor: pointer;
}


.search-icon {
  color: var(--gray);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-right: 2px;
  display: flex;
}

.activity-bar-icon {
  color: var(--icon);
  font-size: 1.5rem;
}

.activity-bar-icon-selected {
  color: var(--selected-icon);
  font-size: 1.5rem;
}

.activity-icon-container {
  padding: 8px;
  display: flex;
}

.selected-icon-color {
  width: 2px;
  background-color: var(--selected-icon-color);
}

.explorer-title{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text);
  padding: 3px;
  gap: 3px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  background-color: var(--light-gray);
}

.icon-button-footer {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text);
  padding: 3px;
  gap: 3px;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button-footer:hover {
  background-color: var(--activity);
}


.explorer-editor {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.accordion-transition {
  color: var(--text);
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.3s;
  opacity: "0";
  max-height: 18px;
  overflow: hidden;
}

.accordion {
  color: var(--text);
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.3s;
  opacity: "0";
  max-height: 18px;
  transition: none;
  overflow: hidden;
  position: relative;
}

.accordion-title {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 4px;
  cursor: pointer;
}

.file {
  padding-left: 25px;
  display: flex;
  gap: 3px;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.file:hover {
  background-color: var(--highlight);
}

.active-file {
  padding-left: 25px;
  display: flex;
  gap: 3px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--light-gray);
}

.folder {
  margin-left: 10px;
}

.folder-icon {
  width: 1.5rem;
}

.file-icon {
  width: 1.3rem;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: var(--light-gray);
  left: 0.9rem;
}

.file-open-info {
  display: flex;
  gap: 3px;
  width: 100%;
}

.tab {
  display: flex;
  gap: 3px;
  border: 1px solid var(--light-page);
  border-top: none;
  cursor: pointer;
  padding: 5px;
  color: var(--text);
  align-items: center;
}

.active-tab {
  display: flex;
  gap: 3px;
  border-top: 1px solid var(--activity);
  cursor: pointer;
  padding: 5px;
  color: var(--text);
  align-items: center;
  background-color: var(--page);
}

.tab:hover {
  background-color: var(--light-explorer);
}


.tab-info {
  display: flex;
  gap: 3px;
  align-items: center;
  white-space:nowrap;
}

.src-bar {
  display: flex;
  padding: 1px;
  background-color: var(--page);
  color: var(--gray);
  padding-left: 15px;
}

main {
  background-color: var(--page);
  width: 100%;
  flex: 1;
  gap: 1px;
  padding: 10px;
  overflow: scroll;
  text-align: start;
  color: var(--text);
  box-sizing: border-box;
}

.number-row {
  color: var(--gray);
  user-select: none;
  margin-right: 1rem;
}

.import-python {
  color: var(--import);
}

.import-class-python {
  color: var(--import-class);
}

.function-def-python {
  color: var(--function-def);
}

.function-python {
  color: var(--function);
}

.variable-python {
  color: var(--variable);
}

.string-python {
  color: var(--string);
}

.yellow-brackets {
  color: var(--yellow-brackets);
}

.pink-brackets {
  color: var(--pink-brackets);
}

.const {
  color: var(--const);
}

.blue-brackets {
  color: var(--blue-brackets);
}

.comment {
  color: var(--comment);
}

main > div > span {
  white-space:nowrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.div-center {
  display: flex;
  align-items: center;
  flex: 1 1;
  height: fit-content;
  gap: 10px;
  flex-direction: column;
}

.btn {
  background-color: var(--button);
  color: var(--text);
  padding: 0.4rem 3rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: var(--button-hover);
}

.project-images {
  display: flex;
  gap: 10px;
  overflow: scroll;
  min-height: 40%;
}

.project-images-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.link-container {
  padding: 10px;
}

.underline {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--light-gray);
}

.search-tab-input {
  background-color: var(--gray-input);
  color: var(--text);
  padding: 7px;
  border: 1px solid var(--light-gray);
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  text-align: start;
}

.search-tab-input:focus {
  border: 1px solid var(--button-hover);
}

.search-tab-input::placeholder {
  color: var(--light-gray);
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: scroll;
  padding-top: 10px;
}

.path-small {
  font-size: 0.8rem;
  color: var(--gray);
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.file > div > span, .active-file > div > span, .file > span, .active-file > span {
  white-space: nowrap;
}

.path-span {
  display: flex;
  align-items: end;
}

.footer-left, .footer-right {
  display: flex;
  align-items: center;
}

.footer-right {
  padding-right: 8px;
  gap: 6px;
}

.footer-0 {
  display: flex;
  gap: 4px;
  padding-left: 6px;
}

@media only screen and (max-width: 905px) {
  .search {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .explorer {
    min-width: 50%;
  }
}